<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasa de Cambio</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
</head>
<body background="../static/img/fondo.jpeg">
    <header>
        <h1>Consulta de Tipo de Cambio</h1>
    </header>
    <main>
        <form method="post">
            <label for="fecha">Seleccione la fecha: </label>
            <input type="date" id="fecha" name="fecha" max="{{ fecha_max }}"  min="1983-01-01">
            <button type="submit">Consultar</button>
        </form>

        {% if error %}
            <br>
            <p class="error-message">{{ error }}</p>
        {% endif %}
        {% if fecha %}
            <br>
            <p>Tasa de Cambio del {{ fecha }}</p>
            <p>Compra: {{ tipo_cambio_compra }}</p>
            <p>Venta: {{ tipo_cambio_venta }}</p>
        {% endif %}
        <form action="/generar_reporte" method="post">
            <br>
            <p>Generar Reporte</p>
            <button type="submit" name="tipo_reporte" value="semanal">Semanal</button>
            <button type="submit" name="tipo_reporte" value="mensual">Mensual</button>
            <button type="submit" name="tipo_reporte" value="anual">Anual</button>
        </form>
    </main>
</body>
</html>